
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 colunas por padrão */
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  padding: 0 10px;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
  }
}

.imageCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.image {
  width: 180px;
  height: auto;
  border-radius: 8px;
}

p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
.deleteBtn{

}
